---
import Layout from "../layouts/Layout.astro";
import { Cloudinary } from "@cloudinary/url-gen";
import { trim } from "@cloudinary/url-gen/actions/videoEdit";
import { accelerate } from "@cloudinary/url-gen/actions/effect";
import { Image } from "astro:assets";

import config from "../config.json";

import servicesImg from "../assets/images/services.png";
import aboutUsImg from "../assets/images/about-us.png";

const stats = [
  {
    primary: "$48.2",
    secondary: "In reduced damage per year with proper fire safety",
  },
  {
    primary: "37",
    secondary: "Cases of short circuitry per year",
  },
  {
    primary: "4,159",
    secondary: "Average number of cases per year due to unattended cooking",
  },
  {
    primary: "242",
    secondary: "Structure fires in New Zealand per year",
  },
];

const cld = new Cloudinary({
  cloud: {
    cloudName: import.meta.env.CLOUDINARY_CLOUD_NAME,
  },
});

const heroVideo = cld
  .video("all-fires/hero")
  .effect(accelerate().rate(-20))
  .videoEdit(trim().duration("15.0"));
const heroVideoURL = heroVideo.toURL();
---

<Layout title={config.businessName}>
  <section class="relative flex flex-col items-center gap-16">
    <div class="absolute -z-10 top-0 left-0 w-full h-[500px] max-md:h-1/2">
      <div class="h-full bg-primary"></div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
        ><path
          fill="#fc002a"
          fill-opacity="1"
          d="M0,128L48,117.3C96,107,192,85,288,96C384,107,480,149,576,154.7C672,160,768,128,864,122.7C960,117,1056,139,1152,154.7C1248,171,1344,181,1392,186.7L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
        ></path></svg
      >
    </div>

    <div
      class="max-w-screen-lg mx-auto flex flex-col gap-4 mt-24 items-center px-4"
    >
      <h1
        class="text-8xl max-md:text-5xl text-white font-extrabold text-center"
      >
        ALL FIRE Passive Fire Protection
      </h1>
      <h2
        class="text-center max-w-lg font-extralight text-2xl max-md:text-xl text-white"
      >
        Your trusted experts in invisible fire protection, safeguarding lives
        with 100% compliance.
      </h2>
    </div>

    <div class="px-4">
      <div
        class="grid grid-cols-4 max-md:grid-cols-1 max-w-screen-lg bg-slate-100 rounded-t-2xl"
      >
        {
          stats.map((stat, index) => (
            <div
              class={`flex flex-col p-8 gap-4 text-center border-slate-200 ${index > 0 && "max-md:border-t-2 md:border-l-2"}`}
            >
              <h1 class="font-bold text-6xl">{stat.primary}</h1>
              <h2 class="">{stat.secondary}</h2>
            </div>
          ))
        }
      </div>
      <!-- <video
        autoplay
        loop
        muted
        playsinline
        class="object-cover w-full aspect-video max-md:aspect-auto object-center"
      >
        <source src={heroVideoURL} type="video/mp4" />
      </video> -->
    </div>
  </section>
  <section class="py-32 px-4">
    <div class="max-w-screen-lg mx-auto">
      <p class="text-6xl max-md:text-5xl">
        <span class="text-primary">All Fire</span> offers comprehensive passive fire
        protection solutions across Aotearoa, committed to maintaining the highest
        building safety standards.
      </p>
    </div>
  </section>
  <section class="bg-secondary py-16 px-4 max-md:py-8">
    <div
      class="max-w-screen-xl mx-auto grid grid-cols-2 gap-8 max-md:grid-cols-1"
    >
      <Image
        class="w-full aspect-square object-cover"
        src={servicesImg}
        alt="services image"
      />
      <div class="flex flex-col md:mt-auto gap-8 text-white pb-16 max-md:pb-0">
        <h1 class="text-8xl max-md:text-6xl">Our Services</h1>
        <h2 class="text-2xl">
          Protecting lives, livelihoods, and infrastructure is crucial. That's
          why All Fires, the industry leader, delivers tailored fire protection
          solutions that ensure full compliance, keeping your business running
          smoothly.
        </h2>
        <ul class="flex flex-col gap-2">
          {
            config.services.map((service, index) => (
              <li class="relative pl-12 max-md:pl-8 w-full">
                <a href={service.url} class="link link-hover">
                  <span class="absolute left-0 top-0 text-3xl max-md:text-xl">
                    {String(index + 1).padStart(2, "0")}
                  </span>
                  <h3 class="font-medium text-5xl max-md:text-2xl">
                    {service.name}
                  </h3>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
  <section class="py-16 px-4 max-md:py-8">
    <div
      class="max-w-screen-xl mx-auto grid grid-cols-2 gap-8 max-md:grid-cols-1"
    >
      <div class="flex flex-col gap-8 justify-center">
        <h1 class="text-8xl max-md:text-6xl">About Us</h1>
        <h2 class="text-2xl font-light max-w-lg">
          We are a company that is dedicated making passive fire protection easy
          and effective. We provide expert advice on the right fire protection
          products for your building and ensure they're installed properly in
          all the critical areas, so you can have peace of mind that lives and
          property are protected. Our goal is to deliver top-quality fire
          protection at fair prices, without cutting corners. We work around
          your schedule to make the whole process as smooth as possible—because
          your time matters, and we're here to help, not the other way around.
        </h2>
      </div>
      <Image
        class="w-full aspect-square object-cover"
        src={aboutUsImg}
        alt="about us image"
      />
    </div>
  </section>
</Layout>
